body {
    margin: 0%;
}

h1 {
    padding-left: 5%;
    font-family: 'Poppins', sans-serif;
}

h3 {
    padding-left: 5%;
}

.x {
    color: aqua;
}

.top-banner {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.half p {
    font-family: 'Poppins', sans-serif;
    padding-left: 5%;
}

.half p img {
    width: 100%;
    padding-right: 10%;
}

.button {
    background-image: linear-gradient(brown, tomato);
    border-radius: 10%;
    padding: 1% 3%;
    font-size: larger;
    color: azure;
}

.dream {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 150px;
}

.dream-1 img {
    width: 80%;
}

.dream-2 {
    font-family: 'Poppins', sans-serif;
    padding-left: 10%;
    width: 70%;
}

.flexible {
    display: flex;
}

.experience-area {
    box-shadow: 10px 10px 40px gray;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 5%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    border-left: 10px
}